body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Proxima Nova", Arial, sans-serif;
    background-color: #000000;
    overflow: visible;
}

@keyframes underlineAnimation {
    0% {
        width: 0;
        left: 35%;
        transform: translate(0, -20%);
    }
    25% {
        width: 0;
        left: 35%;
        transform: none;
    }
    50% {
        width: 30%;
        left: 35%;
        transform: none;
    }
    75% {
        width: 0;
        left: 35%;
        transform: translateX(0, -20%);
    }
    100% {
        width: 0;
        left: 35%;
        transform: translateX(0, -20%);
    }
}

@keyframes changeBorderColor {
    0% {
        border-color: bisque;
    }
    50% {
        border-color: rgba(0, 0, 0, 0);
    }
    100% {
        border-color: bisque;
    }
}

.border-changing {
    animation: changeBorderColor 4s linear infinite;
}


#about-me {
    background-color: #000000;
    color: bisque;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.about-me-container {
    margin: 0 auto;
    text-align: left;
    margin-top: -10%;
}

.about-me-title h1 {
    font-size: 40px;
    color: bisque;
    text-shadow: 2px 2px #00bcd4;
}

.about-me-title h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: bisque;
    text-shadow: 2px 2px #00bcd4;
    text-decoration: none;
    position: relative;
}

.about-me-title h1::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: #00bcd4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(0, -20%);
    animation: underlineAnimation 3s infinite;
}

.profile-picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid #00bcd4;
}


.about-me-content p {
    font-size: 1rem;
    color: bisque;
    margin: 10px 10px ;
}

.profile-content {
    width: 25%;
}

.about-me-content {
    font-family: 'Dekko';
    text-align: left;
    margin-top: 5%;
    margin-bottom: auto;
    transition: transform 1s ease-in-out, opacity 1s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    width: 40%;
    position: relative;
}

.text-content p {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.text-content p:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.02);
}

.middle-part {
    height: 100px;
    width: 200px;
    animation: moveBackAndForth 1s infinite alternate;
}

@keyframes moveBackAndForth {
    0% {
        transform: translateX(-20%);
    }
    100% {
        transform: translateX(5%);
    }
}

.middle {
    width: 15%;
}

.uoft {
    font-size: 1.1rem;
    color: white;
    text-shadow: 1px 0.5px blue;
    text-decoration: none;
}

.data-science {
    font-size: 1.1rem;
    color: white;
    text-shadow: 1px 0.5px #00bcd4;
    text-decoration: none;
}

.seeking {
    font-size: 1.1rem;
    color: greenyellow;
    text-shadow: 0.5px 0.5px bisque;
    text-decoration: none;
}

.dots {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 3%;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: bisque;
    border-radius: 50%;
    margin: 5px 0;
    cursor: pointer;
}

.dot.active {
    background-color: #197986;
}

.content-paragraph {
    display: none;
    font-size: 1rem;
    color: bisque;
    margin: 10px 10px;
}

.content-paragraph:first-child {
    display: block;
}

@media (max-width: 900px) {
   
    .about-me-content {
        display: flex;
        flex-direction: column;
    }

    .profile-content,
    .text-content {
        margin: 0;
    }
}