/* Styling for the testimonials section */
#testimonials {
    background-color: black;
    color: bisque;
    background-image: url(../../public/img/bg/shubham-dhage-NsPqV-WsZYY-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    height: 100vh;
}

.testimonials-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.testimonials-title h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: bisque;
    text-shadow: 2px 2px #00bcd4;
    text-decoration: none;
    position: relative;
}

.testimonials-title h1::after {
    content: "";
    display: block;
    height: 4px;
    width: 0;
    background-color: #00bcd4;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(0, -50%);
    animation: underlineAnimation 3s infinite;
}

.testimonials-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.testimonial {
    width: 300px;
    height: 300px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 2px solid bisque;
}

.testimonial:hover {
    transform: scale(1.05);
}

.testimonial img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
}

.testimonial:hover img {
    opacity: 0;
}

.testimonial-text {
    font-size: 14px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.testimonial-author {
    font-size: 16px;
    font-weight: bold;
    color: bisque;
    text-shadow: 1px 1.5px #00bcd4;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.testimonial:hover .testimonial-text {
    opacity: 1;
    transform: translateY(0);
}

.testimonial:hover .testimonial-author {
    opacity: 1;
}

.testimonial {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s ease, transform 2s ease;
  }
  
  /* CSS for the animation when in viewport */
  .testimonial.slide-in {
    opacity: 1;
    transform: translateY(0);
  }
  