<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me | Chris Yan</title>
    <link rel="icon" type="image/x-icon" href="../public/img/logo/logo-no-background.png">
    <link rel="stylesheet" href="../src/css/nav.css">
    <link rel="stylesheet" href="../src/css/about.css">
    <link rel="stylesheet" href="../src/css/skills.css">
    <link rel="stylesheet" href="../src/css/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Proxima+Nova:400,700&display=swap">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a href="../index.html" id="logo-link"><img src="../public/img/logo/logo-no-background.png" class="my-logo" id="logo-img" /></a>
                </div>
                <ul class="nav-links">
                    <li><a href="about.html">About</a></li>
                    <li><a href="experience.html">Experience</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="about-me" class="reveal">
            <div class="about-me-container reveal">
                <div class="about-me-title">
                    <h1 class="fall-down-text">About Me</h1>
                </div>
                <div class="about-me-content">
                    <div class="profile-content">
                        <img src="../public/img/outside.png" alt="profile picture" class="profile-picture border-changing" />
                    </div>
                    <div class="middle">
                        <img src="../public/img/bg/div2.png" alt="arrow" class="middle-part" />
                    </div>
                    <div class="text-content">
                        <p>something</p>
                        <br>
                        <br>
                        <p>something</p>
                        <br>
                        <br>
                        <p>something</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="skills" class="reveal">
            <div class="skills-container">
                <div class="skills-title">
                    <h1 class="fall-down-text">Skills</h1>
                </div>
                <div class="skills-content">
                    <div class="technologies">
                        <h2 class="fade-in-text">Technologies</h2>
                        <div class="tech-lang">
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="js" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/androidstudio/androidstudio-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/r/r-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" /></div>
                        </div>
                    </div>
                    <div class="relevant-others">
                        <h2 class="fade-in-text">Relevant Others</h2>
                        <div class="relevant-others-items">
                            <div class="relevant-others-item slide-in-from-bottom">
                                <h3>Scrum Methodology ⚙️</h3>
                                <p>Description of Project 1</p>
                            </div>
                            <div class="relevant-others-item slide-in-from-bottom">
                                <h3>Communication 🗣️</h3>
                                <p>Description of Project 2</p>
                            </div>
                            <div class="relevant-others-item slide-in-from-bottom">
                                <h3>Statistical Analysis 📊</h3>
                                <p>Description of Project 2</p>
                            </div>
                            <div class="relevant-others-item slide-in-from-bottom">
                                <h3>Problem Solving 💡</h3>
                                <p>Description of Project 2</p>
                            </div>
                            <div class="relevant-others-item slide-in-from-bottom">
                                <h3>Cooking 👨🏻‍🍳</h3>
                                <p>Description of Project 2</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-content">
            <button id="scrollToTopBtn" onclick="scrollToTop()"><i class="arrow up"></i></button>
        </div>
        <p>&copy 2023 Chris Yan. Made with ✌🏼 and ❤️.</p>
    </footer> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="../src/js/footer.js"></script>
    <script src="../src/js/animation.js"></script>
    <script src="../src/js/langs.js"></script>
</body>
</html>
