<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me | Chris Yan</title>
    <link rel="icon" type="image/x-icon" href="../public/img/logo/logo-no-background.png">
    <link rel="stylesheet" href="../src/css/nav.css">
    <link rel="stylesheet" href="../src/css/about.css">
    <link rel="stylesheet" href="../src/css/skills.css">
    <link rel="stylesheet" href="../src/css/footer.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Proxima+Nova:400,700&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">
                    <a href="../index.html" id="logo-link"><img src="../public/img/logo/logo-no-background.png" class="my-logo" id="logo-img" /></a>
                </div>
                <ul class="nav-links">
                    <li><a href="about.html">About</a></li>
                    <li><a href="experience.html">Experience</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section id="about-me" class="reveal">
            <div class="about-me-container reveal">
                <div class="about-me-title">
                    <h1 class="fall-down-text">About Me</h1>
                </div>
                <div class="about-me-content">
                    <div class="profile-content">                      
                        <img src="../public/img/outside.png" alt="profile picture" class="profile-picture border-changing" />
                    </div>
                    <div class="middle">
                        <img src="../public/img/bg/div2.png" alt="arrow" class="middle-part" />
                    </div>
                    <div class="text-content">
                        <p class="content-paragraph">📚 I am an upcoming software and machine learning engineer. 
                            Currently, I am a second-year undergraduate student at the <a href="https://www.utoronto.ca/" target="_blank" class="uoft">University of Toronto</a> 
                            specializing in machine learning and data science, as well as majoring in math and minoring in economics. <span class="seeking">I am actively seeking an internship 
                                in the winter semester of 2024</span>, and I am open to any opportunities that come my way.
                        </p>
                        <p class="content-paragraph">💻 Recently, I have worked as a <span class="data-science">Data Science Research Assistant</span> at <span class="uoft">IAI Labs</span> in Toronto, CA. Here, I partook in assisting with data visualization, 
                            modeling regression models, and statistical analysis for a study on the "Behavioral Consequences of Reminder Emails on Students' Academic 
                        Performace: a Real-world Development" which was recently recognized as the Best Paper at ACM SIGITE.
                        </p>
                        <p class="content-paragraph">When I happen to be free, which is much more than it may seem, I enjoy cooking 🍲, playing hockey 🏒, and watching cinema 🎥. You may also 
                            find me paddle boarding 🏄🏻‍♂️ by the lake, hiking 🥾 in the national parks, or on the GO train 🚉 (I have a long commute to school). If you ever see me, feel 
                            free to come up and say hi 👋🏼! I am always open to meeting new people and making new friends.
                        </p>
                    </div>
                    <div class="dots">
                        <div class="dot" onclick="showParagraph(0)"></div>
                        <div class="dot" onclick="showParagraph(1)"></div>
                        <div class="dot" onclick="showParagraph(2)"></div>
                    </div>
                </div>
            </div>
        </section>
        
        <section id="skills" class="reveal">
            <div class="skills-container">
                <div class="toggle-jots">
                    <div class="jot active" onclick="toggleSkills('technologies')"></div>
                    <div class="jot" onclick="toggleSkills('relevant-others')"></div>
                </div>                
                <div class="skills-content">
                    <div class="technologies">
                        <h2 class="fade-in-text">Technologies</h2>
                        <div class="tech-lang">
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="js" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/c/c-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/androidstudio/androidstudio-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jira/jira-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/r/r-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/flask/flask-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sqlite/sqlite-original.svg" /></div>
                            <div class="lang slide-in"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/firebase/firebase-plain.svg" /></div>
                        </div>
                    </div>
                </div>
                <div class="skills-content">
                    <div class="relevant-others">
                        <h2 class="fade-in-text">Relevant Others</h2>
                        <div class="other-lang">
                            <div class="other-skill  slide-in active" data-skill-id="statistical-analysis">
                                <h3>📊 Statistical Analysis</h3>
                                <p class="content-paragraph">
                                    Proficient in statistical analysis techniques including regression analysis and data interpretation.
                                </p>
                            </div>
                    
                            <div class="other-skill  slide-in" data-skill-id="data-visualization">
                                <h3>📈 Data Visualization</h3>
                                <p class="content-paragraph">
                                    Skilled in creating compelling data visualizations using tools like Matplotlib, Seaborn, and R programming.
                                </p>
                            </div>
                    
                            <div class="other-skill  slide-in" data-skill-id="communication">
                                <h3>🗣️ Communication</h3>
                                <p class="content-paragraph">
                                    Strong communication skills in 3 languages, both written and verbal, enabling effective collaboration and cooperation.
                                </p>
                            </div>
                    
                            <div class="other-skill  slide-in" data-skill-id="problem-solving">
                                <h3>🧩 Problem-Solving</h3>
                                <p class="content-paragraph">
                                    Adept at identifying complex problems, analyzing root causes, and developing innovative solutions.
                                </p>
                            </div>
                    
                            <div class="other-skill  slide-in" data-skill-id="cooking">
                                <h3>🍳 Cooking</h3>
                                <p class="content-paragraph">
                                    Passionate about cooking and experimenting with a wide range of cuisines and flavors.
                                </p>
                            </div>
                        </div>
                        <div class="description-box"></div>
                    </div> 
                </div>   
            </div>
        </section>
    </main>
    
    <footer>
        <div class="footer-content">
            <button id="scrollToTopBtn" onclick="scrollToTop()"><i class="arrow up"></i></button>
        </div>
        <p>&copy 2023 Chris Yan. Made with ✌🏼 and ❤️.</p>
    </footer> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
    <script src="../src/js/footer.js"></script>
    <script src="../src/js/animation.js"></script>
    <script src="../src/js/langs.js"></script>
    <script src="../src/js/textToggle.js"></script>
    <script src="../src/js/toggleSkills.js"></script>
</body>
</html>
